.project-description {
    background-color: #f8f9fa;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 3rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.field-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.confirm-button {
    display: flex;
    justify-content: center;
}

.form-control-sm {
    font-size: 0.875rem; /* Smaller font size for smaller inputs */
}

.w-15 {
    max-width: 15%;
}

.w-25 {
    max-width: 25%;
}

/* Custom styles for select element */
.form-select {
    border-radius: 0.375rem; /* Match the border radius of other form controls */
}

/* Additional spacing if needed */
body {
    padding-left: 1rem;
    padding-right: 1rem;
}
